/*navbar */
body{
    background-color: #E6E2C8;
    font-family: Arial, Helvetica, sans-serif;
}
#menuCheckBox{
    display: none;
    position: absolute;
  }
  
#payoff{
    font-family: 'Roboto', sans-serif;
}
#logoText{
    font-family: 'Notable', sans-serif;
    text-transform: uppercase;
}

#logo{
    width: 5em;
    height: 5em;
}
#navBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(5, 10, 46);
}
li{
    float:left;
}
li a{
    display: block;
    color: #c2c2c2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Notable', sans-serif;
}
li a:hover {
    background-color: #7EC8E3;
}

/*Index Page */

#video{
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    width: 100%;
}

.articleSection > article > .articleHeader{
    width: 600px;
}
.articleParagraph{
    width: 500px;
    letter-spacing: normal;
    line-height: normal;
    text-indent: 1px;
    word-spacing: 1px;
}
#sectionImg{
    flex-direction: column;
    flex-shrink:inherit;
    flex-grow: unset;
}
.articlePicture{
    height: 180px;
    width: 300px;
    flex-direction: row-reverse;
}
.hyperlink{
    margin: center;
    font-size: small;
}

#bestDestinationsList{
    float: right;
    max-width: 33%;
    font-family: 'Notable', sans-serif;
    font-size: 15px;
    margin-top: 10px;
}
#bestDestionationsList:first-child{
  color:rgb(5, 10, 46);
  background-color: seashell;
}
#bestDestionationsList:nth-child(){
  color:rgb(5, 10, 46);
  background-color: seashell;
}

/*Best destinations Page */

#gridcontainer{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10%;
  row-gap: 10%;
}

#article1Tahiti{
  grid-row: 1/3;
  grid-column: 2;
  background-color: #406de9;
  border-style: double;
  border-width: 5px;
}

#article2Maui{
grid-column: 1;
background-color: #406de9;

}

#article3Tahiti{
grid-column: 3;
background-color: #406de9;

}

#article4Rome{
grid-column: 3;
background-color: #a5a5a5;

}

#article5Phuket{
  grid-row: 2/4;
  background-color: #e9405c;

}

#article6Glacier{
  grid-column: 2/-1;
  background-color: #568b46;
  
}

#PicPheuket{
  width:300px;
  height: 150px;
}
#PicBora{
  width:300px;
  height: 150px;
}
#PicThaiti{
  width:300px;
  height: 150px;
} 

  /*tickets*/
  #tableTicketInfo, th , td{
    border: 5px double #000000;
    margin-left: 0;
    width:80%;
  }
  #articleTableInfo{

    background-color: #7EC8E3;
    border: 10px #FA0;
    border-style: double;
    width: 100%;
  }
  td, th {
    background-color: rgb(255, 255, 255);
  }
  
  .ticketsPageImages{
    width: 220px;
    height: auto;
    padding-bottom: 200px;
  }
  #asideTickets{
    float: right;
    width :20%;
  }

  /* contact Page */

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type = email], select ,textarea{
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */

}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
#contactForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.contactPageImages{
  width: 220px;
  height: auto;
  padding-bottom: 10px;
  padding-left: 10px;
}
#asideForum{
  float: right;
  width :20%;
}
#form {
  width: 80%;
}
/* Footer And cookie statement*/
#cookiestatement{
    transform: translateX(-100%);
    opacity: 50%;
    background-color: #FA0;
    color: #FFF;
    right:-5%;
    max-width: 100px;
    max-height: 100px;
    position: fixed;
    bottom:0px;
}
footer{
    background-color: rgb(225, 225, 225);
    color: black;
    text-align: left;
}


@media screen and (min-width: 481px) and ( max-width: 1180px) {
    body{
        background-color: #c2c9ce;
    }  
    #menuCheckBox{
        display: none;
      }
      
    #bestDestinationsList{
            float:left;
            max-width: 100%;
            margin-left: 5px;
            margin-bottom: 3em;
        }
        #video{
            margin-bottom: 100px;
            max-width: 100%;
        }
    .articleHeader{
        width: 600px;
        font-size: 20px;
    }
    .articleP{
        width: 600px;
        font-size: 20px;
    }

   
  

    /* Best Destinations Page*/
    #article5Phuket{
      grid-row: 1/1;
      grid-column: 1/2;
      background: hidden;
    }
    
    #article3Tahiti{
    grid-column: 2/-1;
    background: hidden;
    }
    
    #article1Tahiti{
    grid-column: 1;
    grid-row: 2/4;
    background: hidden;
    }
    
    #article2Maui{
      display: none;
      background: hidden;
    }
    
    #article4Rome{
      grid-column: 2/-1;
      background: hidden;
    }
    
    #article6Glacier{
      grid-column: 1/4;
      background: hidden;
    }

    /* Tickets */
      #img1{
        display:none;
      }
      #sectionTickets{
        display: flex;
        justify-content: wrap;
      }
      .ticketsPageImages{
        width: 220px;
        height: auto;
        padding-bottom: 0px;
      }
      #ticketsAside{
        justify-content: wrap;
        align-items: flex-end;
        
      }
    }
      @media screen  and (max-width: 480px){
        /*index page*/  
        body{
              background-color: rgb(190, 178, 178);
          }
        #bestDestinationsList{
            float: left;
            margin-right: 90%;
            font-size:15px;
        }
          #logo{
            display: none;
        }
        #video{
            display:none
        }
        /* grid page*/
        #gridcontainer{
         
          column-gap: 15px;
          row-gap: 15px;
        }
        #article1Tahiti{
          grid-column: 1/4;
          grid-row: 4/5;
          background-color:brown;
          border-style:ridge;
          border-color: cyan;
          padding: 2px;
        }

        #article2Maui{
          grid-column: 1/4;
          grid-row: 3/4;
          background-color:hsl(0, 59%, 41%);
          border-style:ridge;
          border-color: cyan;
          padding: 2px;
        }
        #article3Tahiti{
          grid-column: 1/4;
          grid-row: 2/3;
          background-color:rgb(165, 42, 42);
          border-style:ridge;
          border-color: cyan;
          padding: 2px;
        }
        #article4Rome{
          display: none;
          background-color:#a52a2a;
          border-style:ridge;
          border-color: cyan;
          padding: 2px;
          
        }
        #article5Phuket{
          grid-column: 1/4;
          grid-row: 1/2;
          background-color:brown;
          border-style:ridge;
          border-color: cyan;
          padding: 2px;
        }
        #article6Glacier{
          display: none;
          background-color:brown;
          border-style:ridge;
          border-color: cyan;
          padding: 2px;
        }




        /* Hamburger */
        a
        {
          text-decoration: none;
          color: #232323;
          
          transition: color 0.3s ease;
        }
        
        a:hover
        {
          color: tomato;
        }
        
        #menuToggle
        {
          display: block;
          position: absolute;
          top: 50px;
          right: 50px;
          
          z-index: 1;
          
          
          user-select: none;
        }
        
        #menuToggle input
        {
          display: block;
          width: 40px;
          height: 32px;
          position: absolute;
          top: -7px;
          left: -5px;
          
          cursor: pointer;
          
          opacity: 0; 
          z-index: 2; 
          
          
        }
        
       
        #menuToggle span
        {
          display: block;
          width: 33px;
          height: 4px;
          margin-bottom: 5px;
          position: relative;
          
          background: #cdcdcd;
          border-radius: 3px;
          
          z-index: 1;
          
          transform-origin: 4px 0px;
          
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      opacity 0.55s ease;
        }
        
        #menuToggle span:first-child
        {
          transform-origin: 0% 0%;
        }
        
        #menuToggle span:nth-last-child(2)
        {
          transform-origin: 0% 100%;
        }
        
        
        #menuToggle input:checked ~ span
        {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -1px);
          background: #232323;
        }
        
       
        #menuToggle input:checked ~ span:nth-last-child(3)
        {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }
        
      
        #menuToggle input:checked ~ span:nth-last-child(2)
        {
          opacity: 1;
          transform: rotate(-45deg) translate(0, -1px);
        }
        
       
        #menu
        {
          position: absolute;
          width: 300px;
          margin: -100px 0 0 0;
          padding: 50px;
          padding-top: 125px;
          right: -100px;
          
          background: #ededed;
          list-style-type: none;
          
       
          
          transform-origin: 0% 0%;
          transform: translate(100%, 0);
          
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        }
        
        #menu li
        {
          padding: 10px 0;
          font-size: 22px;
        }
        
        #menuToggle input:checked ~ ul
        {
          transform: none;
          opacity: 1;
        }
      
        
          
      }
    







  